<!DOCTYPE html>
<html>
  
  <%- include('./partials/head') %> 
  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav') %> 

    <!-- Header -->
    

    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <h1 class="ps-center">Nuestro Menu</h1>
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= plato.titulo %> </h1>
          <br />

          <!-- If ternario con simbolo  = -->
          <h4>
            <%= plato.descripcionDetallada === 'Plato tipico' ? plato.descripcion : plato.descripcionDetallada %>
          </h4>
          <p class="ps-text-grey">
            U$S <%= plato.precio.toFixed(2) %>
          </p>
        </div>

        
          <img
            src="/images/<%=plato.imagen%>"
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </div>
      </div>

      <!-- Footer -->
      <%- include('./partials/footer') %> 
    
  </body>
</html>
